:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

a {
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  place-items: center;
}

#app {
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.main {
  width: 1200px;
  height: 800px;
  margin: auto;
}

.inner {
  position:absolute;
  width: 1200px;
  height: 800px;
}

.map {
  width: 20%;
  height: 30%;
  position:absolute;
  offset-position: bottom right;
  background-color: #0000442a;
}
